body{
    background-color: #4483D4;
    width: 100vw;
    height: 100vh;
     }
      h1{
        color: black;
        text-align: center;
        font-size: 55px;
    }
    p{
        color: black;
        text-align: left;
        font-family: Racing Sans One;
        font-size: 47px;
     }
        .hero-wrapper{
            /* TODO:learn about css */
          width: 1309px;
          height: 580px;
          background: #5FFAA8;
          margin: 150px auto; 
                   
     }
     .container{
      display: flex;
       background-color: rgb(208, 186, 228);   
     }
     .content{
       flex: 50%;
       padding-left: 15px;
     }
     .inputcontainer{
       flex: 50%;
       margin-left: 50px;
     }
     
.input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.button{
  margin: 10px;
  padding: 10px;
  background-color: #4483D4;
  border: none;
  color: aliceblue;
  border-radius: 4px;
}
     

     

     
                
    